.appointment-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 10px;
}

.full-width {
    grid-column: span 2;
}

mat-form-field {
    width: 100%;
}

mat-dialog-content {
    width: 100%;
    max-width: 760px;
    padding-top: 10px;
}

mat-dialog-actions {
    padding: 16px 0 10px;
}
mat-dialog-content
{
    padding-top: 20px !important;
}

.appointment-form
{
    margin-top: 20px;
}

button[mat-raised-button] {
    border-radius: 10px !important;
    font-weight: 600 !important;
    padding: 0 20px !important;
}

@media (max-width: 768px) {
    .appointment-form {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }

    mat-dialog-content {
        min-width: 100%;
    }
}
.selected-patient-card {
    border: 1px solid #d1d5db;
    border-radius: 12px;
    padding: 14px 16px;
    min-height: 56px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #f8fafc;
}

.selected-patient-card label {
    font-size: 12px;
    color: #64748b;
    margin-bottom: 4px;
    font-weight: 600;
}

.patient-name {
    font-size: 16px;
    font-weight: 600;
    color: #0f172a;
}