<mat-toolbar class="navbar">

    <div class="navbar-left">
        <div class="app-title">
            MiniEMR
            <span class="app-subtitle">Smart Clinic Management</span>
        </div>
    </div>

    <div class="navbar-right">

        <button mat-raised-button color="primary" class="appointment-btn" (click)="openBookAppointment()">
            <mat-icon>add</mat-icon>
            Book Appointment
        </button>

        <div class="user-section">
            <div class="user-avatar">
                {{ authService.getFullName()?.charAt(0) }}
            </div>
            <div class="user-details">
                <div class="user-name">{{ authService.getFullName() }}</div>
                <div class="user-role">{{ authService.getRole() }}</div>
            </div>
        </div>

    </div>

</mat-toolbar>