<div class="sidebar-container">

  <!-- ===================== TOP ===================== -->

  <div class="sidebar-top">

    <!-- LOGO -->

    <div class="logo-section">

      <img src="https://www.curemd.com/cmd/cmd-assets/images/lodar.gif" alt="Mini EMR Logo" class="logo-image">

      <div class="logo-text">
        Mini EMR
      </div>

    </div>

    <!-- MENU -->

    <div class="menu-section">

      <!-- Dashboard -->

      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">

        <mat-icon>dashboard</mat-icon>

        <span>Dashboard</span>

      </a>

      <!-- Patients -->

      <a mat-list-item routerLink="/patients" routerLinkActive="active-link">

        <mat-icon>groups</mat-icon>

        <span>Patients</span>

      </a>

      <!-- Appointments -->

      <a mat-list-item routerLink="/appointments" routerLinkActive="active-link">

        <mat-icon>event</mat-icon>

        <span>Appointments</span>

      </a>

      <!-- Visits -->

      @if(authService.isDoctor())
      {
      <a mat-list-item routerLink="/settings" routerLinkActive="active-link">

        <mat-icon>settings</mat-icon>

        <span>Settings</span>

      </a>
      }

    </div>

  </div>

  <!-- ===================== FOOTER ===================== -->

  <div class="sidebar-footer">

    <button mat-raised-button color="warn" class="logout-btn" (click)="logout()">

      <mat-icon>logout</mat-icon>

      Logout

    </button>

  </div>

</div>