.sidebar-container
{
    width: 260px;

    min-width: 260px;

    height: 100%;

    background:
        linear-gradient(
            180deg,
            #0f172a 0%,
            #1e293b 100%);

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    padding: 18px 14px;

    overflow-y: auto;
}

/* ===================== TOP ===================== */

.sidebar-top
{
    display: flex;

    flex-direction: column;
}

/* ===================== LOGO ===================== */

/* ===================== LOGO ===================== */

.logo-section
{
    display: flex;

    align-items: center;

    gap: 12px;

    padding: 10px 14px 30px;

    margin-bottom: 12px;
}

.logo-image
{
    width: 60px;

    height: 60px;

    object-fit: cover;

    border-radius: 12px;
    padding: 6px;

}

.logo-text
{
    color: #ffffff;

    font-size: 24px;

    font-weight: 700;

    letter-spacing: 0.5px;

    line-height: 1;
}

/* ===================== MENU ===================== */

.menu-section
{
    display: flex;

    flex-direction: column;

    gap: 8px;
}

/* ===================== MENU ITEM ===================== */

a[mat-list-item]
{
    height: 52px !important;

    border-radius: 14px;

    display: flex !important;

    align-items: center;

    padding: 0 16px !important;

    text-decoration: none;

    transition:
        background-color 0.25s ease,
        transform 0.2s ease;
}

/* ===================== ICON ===================== */

a[mat-list-item] mat-icon
{
    color: #cbd5e1 !important;

    margin-right: 14px;

}

/* ===================== TEXT ===================== */

a[mat-list-item] span
{
    color: white !important;

    font-size: 15px;

    font-weight: 500;
}

/* ===================== HOVER ===================== */

a[mat-list-item]:hover
{
    background-color:
        rgba(255,255,255,0.08);

    transform: translateX(4px);
}

/* ===================== ACTIVE ===================== */

.active-link
{
    background:
        linear-gradient(
            90deg,
            #2563eb,
            #3b82f6) !important;
}

/* ===================== FOOTER ===================== */

.sidebar-footer
{
    margin-top: auto;

    padding-top: 20px;

    border-top:
        1px solid rgba(255,255,255,0.08);
}

/* ===================== LOGOUT ===================== */

.logout-btn
{
    width: 100%;

    height: 46px;

    border-radius: 14px !important;

    font-weight: 600 !important;
}


/* ===================== MATERIAL FIX ===================== */

::ng-deep .mdc-list-item__primary-text
{
    width: 100%;
}