<mat-card class="vitals-card">

    <div class="section-title">

        Vitals

    </div>

    <form
        [formGroup]="vitalsForm"
        class="vitals-grid">

        <!-- Height -->

        <mat-form-field appearance="outline">

            <mat-label>
                Height (cm)
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="heightCm"
                (input)="calculateBMI()">

        </mat-form-field>

        <!-- Weight -->

        <mat-form-field appearance="outline">

            <mat-label>
                Weight (kg)
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="weightKg"
                (input)="calculateBMI()">

        </mat-form-field>

        <!-- BP Systolic -->

        <mat-form-field appearance="outline">

            <mat-label>
                BP Systolic
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="bpSystolic">

        </mat-form-field>

        <!-- BP Diastolic -->

        <mat-form-field appearance="outline">

            <mat-label>
                BP Diastolic
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="bpDiastolic">

        </mat-form-field>

        <!-- Pulse -->

        <mat-form-field appearance="outline">

            <mat-label>
                Pulse BPM
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="pulseBpm">

        </mat-form-field>

        <!-- Temperature -->

        <mat-form-field appearance="outline">

            <mat-label>
                Temperature °C
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="temperatureC">

        </mat-form-field>

        <!-- Respiratory Rate -->

        <mat-form-field appearance="outline">

            <mat-label>
                Respiratory Rate
            </mat-label>

            <input
                matInput
                type="number"
                formControlName="respiratoryRate">

        </mat-form-field>

        <!-- BMI -->

        <mat-form-field appearance="outline">

            <mat-label>
                BMI
            </mat-label>

            <input
                matInput
                formControlName="bmi"
                readonly>

        </mat-form-field>

    </form>

</mat-card>